<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog posts</title>
    <%- include('blocks/common-files-dependency'); %>
</head>
<body>
<div class="body-container">
    <%- include('blocks/logo'); %>
    <%- include('blocks/header'); %>

    <main class="main-content">
        <div class="page-title">
            <span class="page-title__small-text">COMPONENTS</span>
            <h2 class="page-title__title">Blog Posts</h2>
        </div>
        <ul class="posts-list js-articles">
            <!-- 4 -->
            <li class="posts-list__item">

                <div class="post-preview">
                    <div class="post-preview__picture">
                        <img src="images/blog-post-picture/blog-post-featured.jpg" alt="" class="post-preview__img">
                        <span class="post-preview__category">Business</span>
                    </div>
                    <div class="post-preview__content">
                        <h3 class="post-preview__title">
                            <a class="post-preview__title-link" href="#">Conduct at an replied removal an amongst</a>
                        </h3>
                        <p class="post-preview__text">
                            However venture pursuit he am mr cordial. Forming musical
                            am hearing studied be luckily. But in for determine what would see...
                        </p>
                        <div class="post-preview__footer">
                            <div class="post-preview__user">
                                <div class="post-preview__user-pic-wrap">
                                    <img src="images/header-icons/user-avatar@2x.png"
                                         srcset="images/header-icons/user-avatar@2x.png 2x"
                                         width="40"
                                         height="40"
                                         alt=""
                                         class="post-preview__user-pic">
                                </div>
                                <div class="post-preview__user-info">
                                    <span class="post-preview__username">James Khan</span>
                                    <time class="post-preview__published" data-tooltip="28 February 2018 ">28 February 2018</time>
                                </div>
                            </div>
                            <div class="post-preview__buttons">
                                <button class="post-preview__bookmark">
                                    Bookmark
                                </button>
                            </div>
                        </div>
                        <div class="post-preview__text-footer">
                            By
                            <span class="post-preview__username-foot">James Khan</span>
                            in
                            <span class="post-preview__category-foot">Business</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="posts-list__item">
                <div class="post-preview">
                    <div class="post-preview__picture">
                        <img src="images/blog-post-picture/blog-post-seacoast.jpg"
                             srcset="images/blog-post-picture/blog-post-seacoast@2x.jpg 2x" alt=""
                             class="post-preview__img">
                        <span class="post-preview__category  post-preview__category_background-azure">travel</span>
                    </div>
                    <div class="post-preview__content">
                        <h3 class="post-preview__title">
                            <a class="post-preview__title-link" href="#">Off tears are day blind smile alone had
                                ready</a>
                        </h3>
                        <p class="post-preview__text">
                            Is at purse tried jokes china ready decay an. Small its shy way had woody downs power.
                            To denoting admitted speaking learning my...

                        </p>
                        <div class="post-preview__footer">
                            <div class="post-preview__user">
                                <div class="post-preview__user-pic-wrap">
                                    <img src="images/avatar-img/1-avatar.png"
                                         srcset="images/avatar-img/1-avatar-2x.png"
                                         width="40"
                                         height="40"
                                         alt=""
                                         class="post-preview__user-pic">
                                </div>
                                <div class="post-preview__user-info">
                                    <span class="post-preview__username">James Khan</span>
                                    <time class="post-preview__published">28 February 2018</time>
                                </div>
                            </div>
                            <div class="post-preview__buttons">
                                <button class="post-preview__bookmark">
                                    Bookmark
                                </button>
                            </div>
                        </div>
                        <div class="post-preview__text-footer">
                            By
                            <span class="post-preview__username-foot">James Khan</span>
                            in
                            <span class="post-preview__category-foot">Business</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="posts-list__item">
                <div class="post-preview">
                    <div class="post-preview__picture">
                        <img src="images/blog-post-picture/egyptPiramid.jpg"
                             srcset="images/blog-post-picture/egyptPiramid@2x.jpg"
                             alt="" class="post-preview__img">
                        <span class="post-preview__category post-preview__category_background-purple">technology</span>
                    </div>
                    <div class="post-preview__content">
                        <h3 class="post-preview__title">
                            <a class="post-preview__title-link" href="#">Difficult in delivered extensive at
                                direction</a>
                        </h3>
                        <p class="post-preview__text">
                            Is at purse tried jokes china ready decay an. Small its shy way had woody downs power.
                            To denoting admitted speaking learning my...
                        </p>
                        <div class="post-preview__footer">
                            <div class="post-preview__user">
                                <div class="post-preview__user-pic-wrap">
                                    <img src="images/avatar-img/2-avatar.png"
                                         srcset="images/avatar-img/2-avatar@2x.png 2x"
                                         width="40"
                                         height="40"
                                         alt=""
                                         class="post-preview__user-pic">
                                </div>
                                <div class="post-preview__user-info">
                                    <span class="post-preview__username">James Khan</span>
                                    <time class="post-preview__published">28 February 2018</time>
                                </div>
                            </div>
                            <div class="post-preview__buttons">
                                <button class="post-preview__bookmark">
                                    Bookmark
                                </button>
                            </div>
                        </div>
                        <div class="post-preview__text-footer">
                            By
                            <span class="post-preview__username-foot">James Khan</span>
                            in
                            <span class="post-preview__category-foot">Business</span>
                        </div>
                    </div>
                </div>
            </li>

            <li class="posts-list__item">
                <div class="post-preview">
                    <div class="post-preview__picture">
                        <img src="images/blog-post-picture/girl-with-laptop.jpg"
                             srcset="images/blog-post-picture/girl-with-laptop@2x.jpg"
                             alt="girl with laptop" class="post-preview__img">
                        <span class="post-preview__category post-preview__category_background-orange">technology</span>
                    </div>
                    <div class="post-preview__content">
                        <h3 class="post-preview__title">
                            <a class="post-preview__title-link" href="#">It so numerous if he may outlived disposal</a>
                        </h3>
                        <p class="post-preview__text">
                            How but sons mrs lady when. Her especially are unpleasant out alteration
                            continuing unreserved ready road market resolution...
                        </p>
                        <div class="post-preview__footer">
                            <div class="post-preview__user">
                                <div class="post-preview__user-pic-wrap">
                                    <img src="images/avatar-img/3-avatar.png"
                                         srcset="images/avatar-img/3-avatar@2x.png 2x"
                                         width="40"
                                         height="40"
                                         alt=""
                                         class="post-preview__user-pic">
                                </div>
                                <div class="post-preview__user-info">
                                    <span class="post-preview__username">James Khan</span>
                                    <time class="post-preview__published">28 February 2018</time>
                                </div>
                            </div>
                            <div class="post-preview__buttons">
                                <button class="post-preview__bookmark">
                                    Bookmark
                                </button>
                            </div>
                        </div>
                        <div class="post-preview__text-footer">
                            By
                            <span class="post-preview__username-foot">James Khan</span>
                            in
                            <span class="post-preview__category-foot">Business</span>
                        </div>
                    </div>
                </div>
            </li>

            <!-- 2 -->
            <li class="posts-list__item">

                <div class="post-preview post-preview_vertical">
                    <div class="post-preview__picture">
                        <img src="images/blog-post-picture/girl-with-phone.jpg"
                             srcset="images/blog-post-picture/girl-with-phon@2x.jpg"
                             alt="girl with phone" class="post-preview__img">
                        <span class="post-preview__category post-preview__category_background-azure">travel</span>
                    </div>
                    <div class="post-preview__content">
                        <h3 class="post-preview__title">
                            <a class="post-preview__title-link" href="#">Attention he extremity unwilling on otherwise
                                cars backwards</a>
                        </h3>
                        <p class="post-preview__text">
                            Conviction up partiality as delightful is discovered. Yet jennings resolved disposed
                            exertion you off.
                            Left did fond drew fat head poor jet pan flying over...
                        </p>
                        <div class="post-preview__footer">
                            <div class="post-preview__user">
                                <div class="post-preview__user-pic-wrap">
                                    <img src="images/header-icons/user-avatar@2x.png"
                                         srcset="images/header-icons/user-avatar@2x.png 2x"
                                         width="40"
                                         height="40"
                                         alt=""
                                         class="post-preview__user-pic">
                                </div>
                                <div class="post-preview__user-info">
                                    <span class="post-preview__username">James Khan</span>
                                    <time class="post-preview__published">28 February 2018</time>
                                </div>
                            </div>
                            <div class="post-preview__buttons">
                                <button class="post-preview__bookmark">
                                    Bookmark
                                </button>
                            </div>
                        </div>
                        <div class="post-preview__text-footer">
                            By
                            <span class="post-preview__username-foot">James Khan</span>
                            in
                            <span class="post-preview__category-foot">Business</span>
                        </div>
                    </div>
                </div>

            </li>
            <li class="posts-list__item">
                <div class="post-preview post-preview_vertical">
                    <div class="post-preview__picture">
                        <img src="images/blog-post-picture/town.jpg"
                             srcset="images/blog-post-picture/town@2x.jpg 2x"
                             alt="town" class="post-preview__img">
                        <span class="post-preview__category">Business</span>
                    </div>
                    <div class="post-preview__content">
                        <h3 class="post-preview__title">
                            <a class="post-preview__title-link" href="#">Totally words widow one downs few age every
                                seven if miss</a>
                        </h3>
                        <p class="post-preview__text">
                            Discovered had get considered projection who favourable. Necessary up knowledge it
                            tolerably.
                            Unwilling departure education to admitted speaking...
                        </p>
                        <div class="post-preview__footer">
                            <div class="post-preview__user">
                                <div class="post-preview__user-pic-wrap">
                                    <img src="images/avatar-img/1-avatar.png"
                                         srcset="images/avatar-img/1-avatar-2x.png 2x"
                                         width="40"
                                         height="40"
                                         alt=""
                                         class="post-preview__user-pic">
                                </div>
                                <div class="post-preview__user-info">
                                    <span class="post-preview__username">James Khan</span>
                                    <time class="post-preview__published">28 February 2018</time>
                                </div>
                            </div>
                            <div class="post-preview__buttons">
                                <button class="post-preview__bookmark">
                                    Bookmark
                                </button>
                            </div>
                        </div>
                        <div class="post-preview__text-footer">
                            By
                            <span class="post-preview__username-foot">James Khan</span>
                            in
                            <span class="post-preview__category-foot">Business</span>
                        </div>
                    </div>
                </div>

            </li>

            <!-- 3 -->

            <li class="posts-list__item">

                <div class="post-preview post-preview_no-image">
                    <div class="post-preview__picture">
                        <img src="images/blog-post-picture/blog-post-featured.jpg" alt="" class="post-preview__img">
                        <span class="post-preview__category">Business</span>
                    </div>
                    <div class="post-preview__content">
                        <h3 class="post-preview__title">
                            <a class="post-preview__title-link" href="#">Had denoting properly jointure which well books
                                beyond</a>
                        </h3>
                        <p class="post-preview__text">
                            In said to of poor full be post face snug. Introduced imprudence
                            see say unpleasing devonshire acceptance son…
                        </p>
                        <div class="post-preview__footer">
                            <div class="post-preview__user">
                                <div class="post-preview__user-pic-wrap">
                                    <img src="images/avatar-img/1-avatar.png"
                                         srcset="images/avatar-img/1-avatar-2x.png"
                                         width="40"
                                         height="40"
                                         alt=""
                                         class="post-preview__user-pic">
                                </div>
                                <div class="post-preview__user-info">
                                    <span class="post-preview__username">James Khan</span>
                                    <time class="post-preview__published">28 February 2018</time>
                                </div>
                            </div>
                            <div class="post-preview__buttons">
                                <button class="post-preview__bookmark">
                                    <img class="post-preview__bookmark-flag-icon"
                                         src="images/button-icon/flag-icon-btn.svg" alt="">
                                    <span class="post-preview__bookmark-text">Bookmark</span>
                                </button>
                            </div>
                        </div>

                        <div class="post-preview__text-footer">
                            By
                            <span class="post-preview__username-foot">James Khan</span>
                            in
                            <span class="post-preview__category-foot">Business</span>
                        </div>
                    </div>
                </div>
            </li>


            <li class="posts-list__item">
                <div class="post-preview post-preview_no-image">
                    <div class="post-preview__picture">
                        <img src="images/blog-post-picture/blog-post-featured.jpg" alt="" class="post-preview__img">
                        <span class="post-preview__category">Business</span>
                    </div>
                    <div class="post-preview__content">
                        <h3 class="post-preview__title">
                            <a class="post-preview__title-link" href="#">Husbands ask repeated resolved but laughter
                                debating</a>
                        </h3>
                        <p class="post-preview__text">
                            It abode words began enjoy years no do ﻿no. Tried spoil as heart visit blush or.
                            Boy possible blessing sensible set but margaret interest…
                        </p>
                        <div class="post-preview__footer">
                            <div class="post-preview__user">
                                <div class="post-preview__user-pic-wrap">
                                    <img src="images/avatar-img/2-avatar.png"
                                         srcset="images/avatar-img/2-avatar@2x.png"
                                         width="40"
                                         height="40"
                                         alt=""
                                         class="post-preview__user-pic">
                                </div>
                                <div class="post-preview__user-info">
                                    <span class="post-preview__username">Chris Jones</span>
                                    <time class="post-preview__published">21 March 2011</time>
                                </div>
                            </div>
                            <div class="post-preview__buttons">
                                <button class="post-preview__bookmark">
                                    <img class="post-preview__bookmark-flag-icon"
                                         src="images/button-icon/flag-icon-btn.svg" alt="">
                                    <span class="post-preview__bookmark-text">Bookmark</span>
                                </button>
                            </div>
                        </div>

                        <div class="post-preview__text-footer">
                            By
                            <span class="post-preview__username-foot">James Khan</span>
                            in
                            <span class="post-preview__category-foot">Business</span>
                        </div>
                    </div>
                </div>
            </li>


            <li class="posts-list__item">
                <div class="post-preview post-preview_no-image">
                    <div class="post-preview__picture">
                        <img src="images/blog-post-picture/blog-post-featured.jpg" alt="" class="post-preview__img">
                        <span class="post-preview__category">Business</span>
                    </div>
                    <div class="post-preview__content">
                        <h3 class="post-preview__title">
                            <a class="post-preview__title-link" href="#">Instantly gentleman
                                contained belonging exquisite now
                            </a>
                        </h3>
                        <p class="post-preview__text">
                            West room at sent if year. Numerous indulged distance old law you. Total state as merit
                            court green decay he. Steepest merit checking...
                        </p>
                        <div class="post-preview__footer">
                            <div class="post-preview__user">
                                <div class="post-preview__user-pic-wrap">
                                    <img src="images/avatar-img/3-avatar.png"
                                         srcset="images/avatar-img/3-avatar@2x.png"
                                         width="40"
                                         height="40"
                                         alt=""
                                         class="post-preview__user-pic">
                                </div>
                                <div class="post-preview__user-info">
                                    <span class="post-preview__username">Mark Jameson</span>
                                    <time class="post-preview__published">28 March 2011</time>
                                </div>
                            </div>
                            <div class="post-preview__buttons">
                                <button class="post-preview__bookmark">
                                    <img class="post-preview__bookmark-flag-icon"
                                         src="images/button-icon/flag-icon-btn.svg" alt="">
                                    <span class="post-preview__bookmark-text">Bookmark</span>
                                </button>
                            </div>
                        </div>

                        <div class="post-preview__text-footer">
                            By
                            <span class="post-preview__username-foot">James Khan</span>
                            in
                            <span class="post-preview__category-foot">Business</span>
                        </div>
                    </div>
                </div>
            </li>

            <li class="posts-list__item">
                <div class="post-preview post-preview_without-category">
                    <div class="post-preview__picture">
                        <img src="images/blog-post-picture/take-backpack-img.png"
                             srcset="images/blog-post-picture/take-backpack-img2x.png 2x"
                             alt="" class="post-preview__img">
                        <span class="post-preview__category">Business</span>
                    </div>
                    <div class="post-preview__content">
                        <h3 class="post-preview__title">
                            <a class="post-preview__title-link" href="#">Extremity so attending
                                objection as these
                            </a>
                        </h3>
                        <p class="post-preview__text">Morning prudent removal an letters by. On could my
                            in order never it. Or excited certain sixteen it to parties colonel...
                        </p>
                        <div class="post-preview__footer">
                            <div class="post-preview__user">
                                <div class="post-preview__user-pic-wrap">
                                    <img src="images/avatar-img/3-avatar.png"
                                         srcset="images/avatar-img/3-avatar@2x.png"
                                         width="40"
                                         height="40"
                                         alt=""
                                         class="post-preview__user-pic">
                                </div>
                                <div class="post-preview__user-info">
                                    <span class="post-preview__username">Mark Jameson</span>
                                    <time class="post-preview__published">28 March 2011</time>
                                </div>
                            </div>
                            <div class="post-preview__buttons">
                                <button class="post-preview__bookmark">
                                    <img class="post-preview__bookmark-flag-icon"
                                         src="images/button-icon/flag-icon-btn.svg" alt="">
                                    <span class="post-preview__bookmark-text">Bookmark</span>
                                </button>
                            </div>

                            <div class="post-preview__text-footer">
                                By
                                <span class="post-preview__username-foot">Alene Trenton</span>
                                in
                                <span class="post-preview__category-foot">News</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="posts-list__item">
                <div class="post-preview post-preview_without-category">
                    <div class="post-preview__picture">
                        <img src="images/blog-post-picture/young-man.jpg"
                             srcset="images/blog-post-picture/young-man@2x.jpg 2x"
                             alt="" class="post-preview__img">
                        <span class="post-preview__category">Business</span>
                    </div>
                    <div class="post-preview__content">
                        <h3 class="post-preview__title">
                            <a class="post-preview__title-link" href="#">Bed sincerity yet therefore forfeited his
                            </a>
                        </h3>
                        <p class="post-preview__text">Pursuit chamber as elderly amongst on. Distant however warrant farther to of.
                            My justice wishing prudent waiting in be...
                        </p>
                        <div class="post-preview__footer">
                            <div class="post-preview__user">
                                <div class="post-preview__user-pic-wrap">
                                    <img src="images/avatar-img/3-avatar.png"
                                         srcset="images/avatar-img/3-avatar@2x.png"
                                         width="40"
                                         height="40"
                                         alt=""
                                         class="post-preview__user-pic">
                                </div>
                                <div class="post-preview__user-info">
                                    <span class="post-preview__username">Mark Jameson</span>
                                    <time class="post-preview__published">28 March 2011</time>
                                </div>
                            </div>
                            <div class="post-preview__buttons">
                                <button class="post-preview__bookmark">
                                    <img class="post-preview__bookmark-flag-icon"
                                         src="images/button-icon/flag-icon-btn.svg" alt="">
                                    <span class="post-preview__bookmark-text">Bookmark</span>
                                </button>
                            </div>

                            <div class="post-preview__text-footer">
                                By
                                <span class="post-preview__username-foot">Chris Jamie</span>
                                in
                                <span class="post-preview__category-foot">News</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>


            <li class="posts-list__item">
                <div class="post-preview post-preview_without-category">
                    <div class="post-preview__picture">
                        <img src="images/blog-post-picture/beach-hotel-img.jpg"
                             srcset="images/blog-post-picture/beach-hotel-img@2x.jpg 2x"
                             alt="" class="post-preview__img">
                        <span class="post-preview__category">Business</span>
                    </div>
                    <div class="post-preview__content">
                        <h3 class="post-preview__title">
                            <a class="post-preview__title-link" href="#">Object remark lively all did feebly excuse our
                            </a>
                        </h3>
                        <p class="post-preview__text">Speaking throwing breeding betrayed children my to.
                            Me marianne no he horrible produced ye. Sufficient...
                        </p>
                        <div class="post-preview__footer">
                            <div class="post-preview__user">
                                <div class="post-preview__user-pic-wrap">
                                    <img src="images/avatar-img/3-avatar.png"
                                         srcset="images/avatar-img/3-avatar@2x.png"
                                         width="40"
                                         height="40"
                                         alt=""
                                         class="post-preview__user-pic">
                                </div>
                                <div class="post-preview__user-info">
                                    <span class="post-preview__username">Mark Jameson</span>
                                    <time class="post-preview__published">28 March 2011</time>
                                </div>
                            </div>
                            <div class="post-preview__buttons">
                                <button class="post-preview__bookmark">
                                    <img class="post-preview__bookmark-flag-icon"
                                         src="images/button-icon/flag-icon-btn.svg" alt="">
                                    <span class="post-preview__bookmark-text">Bookmark</span>
                                </button>
                            </div>

                            <div class="post-preview__text-footer">
                                By
                                <span class="post-preview__username-foot">Monica Jordan</span>
                                in
                                <span class="post-preview__category-foot">News</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="posts-list__item">
                <div class="post-preview post-preview_without-category">
                    <div class="post-preview__picture">
                        <img src="images/blog-post-picture/communication-people.jpg"
                             srcset="images/blog-post-picture/communication-people@2x.jpg 2x"
                             alt="" class="post-preview__img">
                        <span class="post-preview__category">Business</span>
                    </div>
                    <div class="post-preview__content">
                        <h3 class="post-preview__title">
                            <a class="post-preview__title-link" href="#">His followed carriage proposal entrance
                            </a>
                        </h3>
                        <p class="post-preview__text">Speaking throwing breeding betrayed children my to.
                            Me marianne no he horrible produced ye. Sufficient...
                        </p>
                        <div class="post-preview__footer">
                            <div class="post-preview__user">
                                <div class="post-preview__user-pic-wrap">
                                    <img src="images/avatar-img/3-avatar.png"
                                         srcset="images/avatar-img/3-avatar@2x.png"
                                         width="40"
                                         height="40"
                                         alt=""
                                         class="post-preview__user-pic">
                                </div>
                                <div class="post-preview__user-info">
                                    <span class="post-preview__username">Monica Jordan</span>
                                    <time class="post-preview__published">28 March 2011</time>
                                </div>
                            </div>
                            <div class="post-preview__buttons">
                                <button class="post-preview__bookmark">
                                    <img class="post-preview__bookmark-flag-icon"
                                         src="images/button-icon/flag-icon-btn.svg" alt="">
                                    <span class="post-preview__bookmark-text">Bookmark</span>
                                </button>
                            </div>

                            <div class="post-preview__text-footer">
                                By
                                <span class="post-preview__username-foot">Monica Jordan</span>
                                in
                                <span class="post-preview__category-foot">News</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </main>
    <%- include('blocks/nav-dashboards'); %>
    <%- include('blocks/foot'); %>
</div>
<%- include('blocks/script'); %>
</body>
</html>
