<!DOCTYPE html>
<html lang="en">
<head>
    <title>blog admin panel</title>
    <%- include('blocks/common-files-dependency'); %>
    <!-- Quill -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <!-- Quill end -->
</head>
<body>
<div class="body-container">
    <%- include('blocks/logo'); %>
    <%- include('blocks/header'); %>
    <main class="main-content">
        <div class="page-title">
            <span class="page-title__small-text">BLOG POSTS</span>
            <h2 class="page-title__title">Add New Post</h2>
        </div>

        <div class="newpost-content">
            <form class="post-form" action="#" method="post">
                <!--<fieldset>-->
                <input class="post-form__input-post-title" type="text"
                       placeholder="Your Post Title"
                       aria-label="post title"
                       name="">
                <!--</fieldset>-->
                <fieldset class="post-form__wrap">
                    <!-- ===========quill js============ -->
                    <div id="editor-container"></div>
                    <!-- ===========quill js============ -->
                </fieldset>
            </form>
            <div class="aside-navigation">
                <div class="aside-navigation__actions">
                    <header class="aside-navigation__header">
                        <h3 class="aside-navigation__title">Actions</h3>
                        <div class="aside-navigation__drag-drop-icon"></div>
                    </header>
                    <ul class="aside-navigation__list">
                        <li class="aside-navigation__item">
                            <div class="aside-navigation__status">
                                <img class="aside-navigation__img" src="images/asaid-nav-icon/flag.svg" alt="">
                                <span class="aside-navigation__text">Status: Draft</span>
                                <!--<span>Visibility:  <b class="aside-navigation">Public</b></span>-->
                            </div>
                            <span class="aside-navigation__edit-text">Edit</span>
                        </li>
                        <li class="aside-navigation__item">
                            <div class="aside-navigation__status">
                                <img class="aside-navigation__img" src="images/asaid-nav-icon/eye.svg" alt="">
                                <span class="aside-navigation__text">Visibility:  <b
                                        class="aside-navigation__color aside-navigation__color_green">Public</b>
                                </span>
                            </div>
                            <span class="aside-navigation__edit-text">Edit</span>
                        </li>
                        <li class="aside-navigation__item">
                            <div class="aside-navigation__status">
                                <img class="aside-navigation__img" src="images/asaid-nav-icon/calendar.svg" alt="">
                                <span class="aside-navigation__text">Schedule:  <b
                                        class="aside-navigation__color">Now</b>
                                </span>
                            </div>
                            <span class="aside-navigation__edit-text">Edit</span>
                        </li>
                        <li class="aside-navigation__item">
                            <div class="aside-navigation__status">
                                <img class="aside-navigation__img" src="images/asaid-nav-icon/score.svg" alt="">
                                <span class="aside-navigation__text">Readability:  <b
                                        class="aside-navigation__color aside-navigation__color_yellow">Ok</b>
                                </span>
                            </div>
                            <!--<span class="aside-navigation__edit-text">Edit</span>-->
                        </li>
                    </ul>
                    <div class="aside-navigation__footer">
                        <button class="aside-navigation__btn aside-navigation__btn_draft" type="button">
                            <img class="aside-navigation__img-flach-card" src="images/button-icon/flash-card.svg/"
                                 alt="">
                            Save Draft
                        </button>
                        <button class="aside-navigation__btn aside-navigation__btn_publish" type="submit">
                            <img class="aside-navigation__img-file-card" src="images/button-icon/file-copy.svg" alt="">

                            Publish
                        </button>

                    </div>
                </div>


                <div class="aside-navigation__categories">
                    <header class="aside-navigation__header">
                        <h3 class="aside-navigation__title">Categories</h3>
                        <div class="aside-navigation__drag-drop-icon"></div>
                    </header>
                    <ul class="aside-navigation__list">
                        <li class="aside-navigation__item">
                            <label class="aside-navigation__label">
                                <input class="aside-navigation__checkbox-input" type="checkbox">
                                <span class="aside-navigation__checkbox"></span>
                                Uncategorized
                            </label>

                        </li>
                        <li class="aside-navigation__item">
                            <label class="aside-navigation__label">
                                <input class="aside-navigation__checkbox-input" type="checkbox" checked>
                                <span class="aside-navigation__checkbox"></span>
                                Design
                            </label>

                        </li>
                        <li class="aside-navigation__item">
                            <label class="aside-navigation__label">
                                <input class="aside-navigation__checkbox-input" type="checkbox">
                                <span class="aside-navigation__checkbox"></span>
                                Development
                            </label>
                        </li>
                        <li class="aside-navigation__item">
                            <label class="aside-navigation__label">
                                <input class="aside-navigation__checkbox-input" type="checkbox">
                                <span class="aside-navigation__checkbox"></span>
                                Writing
                            </label>
                        </li>
                        <li class="aside-navigation__item">
                            <label class="aside-navigation__label">
                                <input class="aside-navigation__checkbox-input" type="checkbox">
                                <span class="aside-navigation__checkbox"></span>
                                Books
                            </label>
                        </li>
                    </ul>

                </div>


            </div>

        </div>


        <!---============-->

    </main>
    <%- include('blocks/nav-dashboards'); %>

    <%- include('blocks/foot'); %>
</div>
<!-- Quill -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    var quill = new Quill('#editor-container', {
        modules: {
            toolbar: [
                [{ header: [1, 2, false] }],
                ['bold', 'italic', 'underline'],
                ['image', 'code-block']
            ]
        },
        placeholder: 'Words can be like x-rays if you use them properly...',
        theme: 'snow'  // or 'bubble'
    });
</script>
<!-- Quill end -->

<%- include('blocks/script'); %>
</body>
</html>
